$dashboard-field-button-bg: $dashboard-header-user-photo-color;
$dashboard-field-button-disabled-color: #ececec;

.dashboard-field-button {
  background-color: $dashboard-field-button-bg;
  color: $dashboard-text-color-white;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  border: none;

  &:disabled {
    background-color: lighten($dashboard-field-button-bg, 10%);
    color: $dashboard-field-button-disabled-color;
    cursor: default;
  }

  &:hover:not(:disabled) {
    background-color: adjust-hue($dashboard-field-button-bg, 10%);
  }

  &:active:hover {
    background-color: darken($dashboard-field-button-bg, 10%);
  }
}