// Тень
@mixin box-shadow($h-shadow,$v-shadow,$blur,$spread,$shadow-color) {
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
  -moz-box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
  -ms-box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
  box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
}

//Миксин Media Queries по ширине
@mixin respond-to($media) {
  @if $media == mobile {
    @media screen and (max-width: 650px) { @content; }
  }
}

@mixin height-compressed() {
  @media screen and (max-height: 128px) { @content; }
}