.dashboard-main {
  overflow: auto;
  z-index: 1;
  flex: 1;

  &-wrap {
    min-height: 100%;
    display: flex;
  }

  &-content {

    // Хак для IE10+
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      min-height: calc(100vh - 65px);
    }

    background-color: $dashboard-content-bg-color;
    flex: 1;
  }
}