$dashboard-textfield-border-color: #adb3b8;
$dashboard-textfield-focused-border-color: #6495ed;
$dashboard-textfield-error-border-color: $dashboard-base-pink-color;

$dashboard-textfield-label-text-color: $dashboard-textfield-border-color;
$dashboard-textfield-focused-label-text-color: $dashboard-textfield-focused-border-color;
$dashboard-textfield-trigger-text-color: $dashboard-base-text-gray-color;
$dashboard-textfield-trigger-error-text-color: $dashboard-base-pink-color;

.dashboard-field-text {
  border: .5px solid $dashboard-textfield-border-color;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 3px;
  position: relative;
  padding-right: 5px;
  display: flex;
  height: 37px;

  &_focused {
    border: .5px solid $dashboard-textfield-focused-border-color;

    .dashboard-field-text-label {
      color: $dashboard-textfield-focused-label-text-color;
    }
  }

  &_filled {
    .dashboard-field-text-label {
      font-size: 10px;
      top: 3px;
    }
  }

  &_error {
    border: .5px solid $dashboard-textfield-error-border-color;
  }

  &-input {
    background-color: transparent;
    padding: 16px 0 3px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    border: none;
    height: 18px;
    flex: 1;
  }

  &-label {
    color: $dashboard-textfield-label-text-color;
    transition: top .2s, font-size .2s;
    position: absolute;
    font-size: 14px;
    left: 10px;
    top: 17px;
  }

  &-trigger {
    color: $dashboard-textfield-trigger-text-color;
    text-align: center;
    line-height: 37px;
    font-size: 15px;
    display: block;
    height: 37px;
    width: 20px;

    &_error {
      color: $dashboard-textfield-trigger-error-text-color;
    }

    &-icon {
      cursor: pointer;
    }
  }
}