$dashboard-textfield-trigger-error-color: #cd5c5c;
$dashboard-textfield-border-color: #adb3b8;
$dashboard-textfield-border-focused-color: #6495ed;
$dashboard-textfield-border-error-color: $dashboard-textfield-trigger-error-color;

.dashboard-field-text {
  border: .5px solid $dashboard-textfield-border-color;
  background-color: white;
  border-radius: 3px;
  position: relative;
  padding-right: 5px;
  display: flex;
  height: 37px;
  margin: 10px;

  &_focused {
    border: .5px solid $dashboard-textfield-border-focused-color;

    .dashboard-field-text-label {
      color: $dashboard-textfield-border-focused-color;
    }
  }

  &_filled {
    .dashboard-field-text-label {
      font-size: 10px;
      top: 3px;
    }
  }

  &_error {
    border: .5px solid $dashboard-textfield-border-error-color;
  }

  &-input {
    background-color: transparent;
    padding: 16px 0 3px 10px;
    outline: none;
    border: none;
    height: 18px;
    flex: 1;
  }

  &-label {
    color: $dashboard-textfield-border-color;
    transition: top .2s, font-size .2s;
    position: absolute;
    font-size: 14px;
    left: 10px;
    top: 17px;
  }

  &-trigger {
    color: $dashboard-text-color-gray;
    text-align: center;
    line-height: 37px;
    font-size: 15px;
    display: block;
    height: 37px;
    width: 20px;

    &_error {
      color: $dashboard-textfield-trigger-error-color;
    }

    &-icon {
      cursor: pointer;
    }
  }
}