$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

$header-height: 65px;
$sidebar-menu-item-height: $header-height;

html, body, #root, .app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.dashboard {
  font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;

  &-header {
    width: 100%;
    height: $header-height;
    display: flex;
    flex-direction: row;

    &-logo {
      background-color: #e05d6f;
      height: 100%;
      width: 250px;
    }

    &-toolbar {
      background-color: aquamarine;
      flex: 1;
    }
  }

  &-main {
    overflow: auto;
    flex: 1;

    &-wrap {
      min-height: 100%;
      display: flex;
    }

    &-sidebar {
      background-color: #32404e;
      width: 250px;

      &-menu {
        list-style: none;
        padding: 0;
        margin: 0;

        &-item {
          line-height: $sidebar-menu-item-height;
          height: $sidebar-menu-item-height;
          font-size: 14px;
          color: #adb3b8;

          .fa {
            display: inline-block;
            text-align: center;
            line-height: 65px;
            font-size: 20px;
            width: 65px;
          }

          &:hover {
            background-color: #3c4a57;
            color: #fff;
            transition: color 0.5s;
          }
        }
      }
    }

    &-content {
      min-height: calc(100vh - 65px);
      flex: 1;
    }
  }
}