@mixin box-shadow($h-shadow,$v-shadow,$blur,$spread,$shadow-color) {
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
  -moz-box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
  -ms-box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
  box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
}

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

$header-height: 64px;
$sidebar-menu-item-height: $header-height;

html, body, #root, .app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.dashboard {
  font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;

  &-header {
    @include box-shadow(0, 1px, 2px, 0, rgba(0, 0, 0, 0.2));
    width: 100%;
    height: $header-height;
    display: flex;
    flex-direction: row;
    z-index: 2;

    &-logo {
      background-color: #e05d6f;
      height: 100%;
      width: 250px;
    }

    &-toolbar {
      flex: 1;
    }
  }

  &-main {
    overflow: auto;
    z-index: 1;
    flex: 1;

    &-wrap {
      min-height: 100%;
      display: flex;
    }

    &-sidebar {
      background-color: #32404e;
      width: 250px;

      &-menu {
        list-style: none;
        padding: 0;
        margin: 0;

        &-item {
          line-height: $sidebar-menu-item-height;
          height: $sidebar-menu-item-height;
          position: relative;
          font-size: 14px;
          cursor: default;
          color: #adb3b8;

          .fa {
            display: inline-block;
            text-align: center;
            line-height: $sidebar-menu-item-height;
            margin-left: 5px;
            font-size: 18px;
            width: 55px;
          }

          &:hover {
            background-color: #3c4a57;
            color: #fff;
            transition: color 0.5s;
          }

          &_active {
            background-color: #475360;

            &:before {
              background-color: #e05d6f;
              position: absolute;
              display: block;
              content: " ";
              height: 100%;
              width: 5px;
              left: 0;
              top: 0;
            }
          }
        }
      }
    }

    &-content {
      min-height: calc(100vh - 65px);
      background-color: #f4f3eb;
      flex: 1;
    }
  }
}