@mixin box-shadow($h-shadow,$v-shadow,$blur,$spread,$shadow-color) {
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
  -moz-box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
  -ms-box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
  box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
}

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@font-face {
    font-family: 'icsystem';
    src:url('./fonts/icsystem/icsystem.eot?-xpanr9');
    src:url('./fonts/icsystem/icsystem.eot?#iefix-xpanr9') format('embedded-opentype'),
        url('./fonts/icsystem/icsystem.woff?-xpanr9') format('woff'),
        url('./fonts/icsystem/icsystem.ttf?-xpanr9') format('truetype'),
        url('./fonts/icsystem/icsystem.svg?-xpanr9#icsystem') format('svg');
    font-weight: normal;
    font-style: normal;
}

$header-height: 64px;
$sidebar-menu-item-height: $header-height;

html, body, #root, .app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.dashboard {
  font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;

  &-header {
    @include box-shadow(0, 1px, 2px, 0, rgba(0, 0, 0, 0.2));
    width: 100%;
    height: $header-height;
    line-height: $header-height;
    display: flex;
    flex-direction: row;
    z-index: 2;

    &-logo {
      background-color: #e05d6f;
      transition: width 0.5s;
      white-space: nowrap;
      overflow: hidden;
      font-size: 16px;
      height: 100%;
      width: 250px;
      color: #fff;

      &_mini {
        width: 64px;
      }

      &-icon {
        font-family: icsystem;
        display: inline-block;
        text-align: center;
        font-size: 25px;
        width: 64px;
        float: left;

        &:before {
          content: "\e60c";
        }
      }
    }

    &-toolbar {
      flex: 1;
    }
  }

  &-main {
    overflow: auto;
    z-index: 1;
    flex: 1;

    &-wrap {
      min-height: 100%;
      display: flex;
    }

    &-sidebar {
      $sidebar: &;
      background-color: #32404e;
      transition: width 0.5s;

      &-menu {
        list-style: none;
        padding: 0;
        margin: 0;

        &-item {
          line-height: $sidebar-menu-item-height;
          height: $sidebar-menu-item-height;
          transition: width 0.5s;
          white-space: nowrap;
          position: relative;
          overflow: hidden;
          font-size: 14px;
          cursor: default;
          color: #adb3b8;
          width: 250px;

          #{$sidebar}_mini & {
            width: 64px;

            &:hover {
              overflow: inherit;
            }
          }

          .fa {
            display: inline-block;
            text-align: center;
            line-height: $sidebar-menu-item-height;
            margin-left: 5px;
            font-size: 18px;
            width: 59px;
            float: left;
          }

          &-text {
            display: inline-block;
            width: 186px;

            #{$sidebar}-menu-item:hover & {
              background-color: #3c4a57;
            }
          }

          &:hover {
            background-color: #3c4a57;
            transition: color 0.5s;
            color: #fff;
          }

          &_active {
            background-color: #475360;

            &:before {
              background-color: #e05d6f;
              position: absolute;
              display: block;
              content: " ";
              height: 100%;
              width: 5px;
              left: 0;
              top: 0;
            }
          }
        }
      }

      &_full {
        width: 250px;
      }

      &_mini {
        width: 64px;
      }
    }

    &-content {
      min-height: calc(100vh - 65px);
      background-color: #f4f3eb;
      flex: 1;
    }
  }
}