$dashboard-header-height: $basic-size-panel-collapsed;
$dashboard-header-logo-collapsed-width: $basic-size-panel-collapsed;
$dashboard-header-logo-expanded-width: $basic-size-panel-expanded;

$dashboard-header-text-color: $dashboard-base-text-gray-color;
$dashboard-header-logo-background-color: $dashboard-base-pink-color;
$dashboard-header-logo-text-color: $dashboard-base-text-light-color;
$dashboard-header-toolbar-picture-color: $dashboard-base-green-color;

.dashboard-header {
  @include box-shadow(0, 1px, 2px, 0, $dashboard-base-shadow-color);
  line-height: $dashboard-header-height;
  color: $dashboard-header-text-color;
  height: $dashboard-header-height;
  transition: height 0.3s;
  flex-direction: row;
  overflow-y: hidden;
  display: flex;
  width: 100%;
  z-index: 2;

  &_blur {
    filter: blur(1px)
  }

  @include height-compressed {
    height: 0;
  }

  &-logo {
    background-color: $dashboard-header-logo-background-color;
    width: $dashboard-header-logo-expanded-width;
    color: $dashboard-header-logo-text-color;
    height: $dashboard-header-height;
    transition: width 0.5s;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;

    @include respond-to(mobile) {
      position: absolute;
      width: 0;
    }

    &_collapsed {
      width: $dashboard-header-logo-collapsed-width;

      @include respond-to(mobile) {
        width: 0;
      }
    }

    &-icon {
      width: $dashboard-header-logo-collapsed-width;
      font-family: icsystem;
      display: inline-block;
      text-align: center;
      font-size: 25px;
      float: left;

      &:before {
        content: "\e60c";
      }
    }
  }

  &-toolbar {
    padding: 20px;
    flex: 1;

    &-btn {
      text-align: center;
      line-height: 24px;
      cursor: pointer;
      display: block;
      height: 24px;
      width: 24px;

      &-toggle {
        float: left;

        &_mobile {
          display: none;
        }

        @include respond-to(mobile) {
          display: none;

          &_mobile {
            display: block;
          }
        }
      }

      &-logout {
        float: right;
      }
    }

    &-label {
      display: inline-block;
      margin-right: 10px;
      line-height: 24px;
      float: right;
      height: 24px;
    }

    &-picture {
      color: $dashboard-header-toolbar-picture-color;
      display: inline-block;
      margin-right: 10px;
      line-height: 24px;
      font-size: 24px;
      height: 24px;
      float: right;
    }
  }
}
