$dashboard-logo-bg-color: #e05d6f;

.dashboard-header {
  @include box-shadow(0, 1px, 2px, 0, rgba(0, 0, 0, 0.2));
  width: 100%;
  height: $dashboard-header-height;
  line-height: $dashboard-header-height;
  display: flex;
  flex-direction: row;
  z-index: 2;

  &-logo {
    background-color: $dashboard-logo-bg-color;
    height: $dashboard-header-height;
    transition: width 0.5s;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    width: 250px;
    color: #fff;

    @include respond-to(mobile) {
      position: absolute;
      width: 0;
    }

    &_collapsed {
      width: 64px;

      @include respond-to(mobile) {
        width: 0;
      }
    }

    &-icon {
      font-family: icsystem;
      display: inline-block;
      text-align: center;
      font-size: 25px;
      width: 64px;
      float: left;

      &:before {
        content: "\e60c";
      }
    }
  }

  &-toolbar {
    padding: 20px;
    flex: 1;

    &-btn {
      color: $dashboard-text-color-gray;
      text-align: center;
      line-height: 24px;
      cursor: pointer;
      display: block;
      height: 24px;
      width: 24px;

      &-toggle {
        float: left;

        &_mobile {
          display: none;
        }

        @include respond-to(mobile) {
          display: none;

          &_mobile {
            display: block;
          }
        }
      }

      &-logout {
        float: right;
      }
    }

    &-label {
      color: $dashboard-text-color-gray;
      display: inline-block;
      margin-right: 10px;
      line-height: 24px;
      float: right;
      height: 24px;
    }

    &-photo {
      display: inline-block;
      margin-right: 10px;
      line-height: 24px;
      color: cadetblue;
      font-size: 24px;
      height: 24px;
      float: right;
    }
  }
}
