$dashboard-sidebar-expanded-width: $basic-size-panel-expanded;
$dashboard-sidebar-collapsed-width: $basic-size-panel-collapsed;
$dashboard-sidebar-menu-item-height: $dashboard-sidebar-collapsed-width;

$dashboard-sidebar-background-color: $dashboard-base-dark-color;
$dashboard-sidebar-logo-background-color: $dashboard-base-pink-color;
$dashboard-sidebar-logo-text-color: $dashboard-base-text-light-color;
$dashboard-sidebar-menu-item-text-color: $dashboard-base-text-gray-color;
$dashboard-sidebar-menu-item-hover-text-color: $dashboard-base-text-light-color;
$dashboard-sidebar-menu-item-hover-background-color: lighten($dashboard-base-dark-color, 2%);
$dashboard-sidebar-menu-item-active-background-color: lighten($dashboard-base-dark-color, 5%);
$dashboard-sidebar-menu-item-marker-background-color: $dashboard-base-pink-color;

.dashboard-sidebar-mobile {

  &-wrap {
    background-color: $dashboard-sidebar-background-color;
    transition: width 0.5s;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    z-index: 4;
    width: 0;
    top: 0;

    @include respond-to(mobile) {
      width: $dashboard-sidebar-expanded-width;
      overflow-y: auto;
    }

    .dashboard-sidebar-mobile_collapsed & {
      overflow-y: hidden;
      width: 0;
    }
  }

  &-mask {
    background-color: $dashboard-sidebar-background-color;
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    opacity: .3;
    z-index: 3;
    left: 0;
    top: 0;

    @include respond-to(mobile) {
      display: block;
    }

    .dashboard-sidebar-mobile_collapsed & {
      width: 0;
    }
  }

  &-menu {
    padding-top: $dashboard-sidebar-menu-item-height;
    min-height: calc(100% - 64px);

    &-logo {
      @include box-shadow(0, 1px, 2px, 0, $dashboard-base-shadow-color);
      background-color: $dashboard-sidebar-logo-background-color;
      line-height: $dashboard-sidebar-menu-item-height;
      height: $dashboard-sidebar-menu-item-height;
      color: $dashboard-sidebar-logo-text-color;
      width: $dashboard-sidebar-expanded-width;
      position: absolute;
      font-size: 16px;
      z-index: 1;
      top: 0;

      &-icon {
        width: $dashboard-sidebar-menu-item-height;
        font-family: icsystem;
        display: inline-block;
        text-align: center;
        font-size: 25px;
        float: left;

        &:before {
          content: "\e60c";
        }
      }
    }

    &-item {
      line-height: $dashboard-sidebar-menu-item-height;
      color: $dashboard-sidebar-menu-item-text-color;
      height: $dashboard-sidebar-menu-item-height;
      width: $dashboard-sidebar-expanded-width;
      transition: width 0.5s;
      white-space: nowrap;
      position: relative;
      overflow: hidden;
      font-size: 14px;
      cursor: default;
      display: block;

      .dashboard-sidebar_collapsed & {
        width: $dashboard-sidebar-collapsed-width;

        &:hover {
          overflow: inherit;
        }
      }

      & &-icon {
        line-height: $dashboard-sidebar-menu-item-height;
        display: inline-block;
        text-align: center;
        margin-left: 5px;
        font-size: 18px;
        width: 59px;
        float: left;
      }

      &-text {
        display: inline-block;
        width: 186px;

        .dashboard-sidebar-menu-item:hover & {
          background-color: $dashboard-sidebar-menu-item-hover-background-color;
        }
      }

      &:hover {
        background-color: $dashboard-sidebar-menu-item-hover-background-color;
        color: $dashboard-sidebar-menu-item-hover-text-color;
        transition: color 0.5s;
      }

      &_active {
        background-color: $dashboard-sidebar-menu-item-active-background-color;

        &:before {
          background-color: $dashboard-sidebar-menu-item-marker-background-color;
          position: absolute;
          display: block;
          content: " ";
          height: 100%;
          width: 5px;
          left: 0;
          top: 0;
        }
      }
    }
  }
}