.dashboard-sidebar {
  background-color: $dashboard-sidebar-gb-color;
  width: $dashboard-sidebar-expanded-width;
  transition: width 0.5s;
  z-index: 1;

  @include respond-to(mobile) {
    position: absolute;
    height: 100%;
    width: 0;
  }

  &_collapsed {
    width: $dashboard-sidebar-collapsed-width;

    @include respond-to(mobile) {
      width: 0;
    }
  }

  &-menu {
    height: 100%;

    &-item {
      line-height: $dashboard-sidebar-menu-item-height;
      color: $dashboard-sidebar-menu-item-text-color;
      height: $dashboard-sidebar-menu-item-height;
      width: $dashboard-sidebar-expanded-width;
      transition: width 0.5s;
      white-space: nowrap;
      position: relative;
      overflow: hidden;
      font-size: 14px;
      cursor: default;
      display: block;

      @include respond-to(mobile) {
        width: 0;
      }

      .dashboard-sidebar_collapsed & {
        width: $dashboard-sidebar-collapsed-width;

        @include respond-to(mobile) {
          width: 0;
        }

        &:hover {
          overflow: inherit;
        }
      }

      & &-icon {
        line-height: $dashboard-sidebar-menu-item-height;
        display: inline-block;
        text-align: center;
        margin-left: 5px;
        font-size: 18px;
        width: 59px;
        float: left;
      }

      &-text {
        display: inline-block;
        width: 186px;

        .dashboard-sidebar-menu-item:hover & {
          background-color: $dashboard-sidebar-menu-item-hover-bg-color;
        }
      }

      &:hover {
        background-color: $dashboard-sidebar-menu-item-hover-bg-color;
        color: $dashboard-text-color-white;
        transition: color 0.5s;
      }

      &_active {
        background-color: $dashboard-sidebar-menu-item-active-bg-color;

        &:before {
          background-color: $dashboard-sidebar-menu-item-marker-bg-color;
          position: absolute;
          display: block;
          content: " ";
          height: 100%;
          width: 5px;
          left: 0;
          top: 0;
        }
      }
    }
  }
}