$dashboard-form-header-bg: #aeaeae;
$dashboard-form-buttons-bg: #ececec;

.dashboard-form {
  @include box-shadow(0, 1px, 2px, 0, rgba(0, 0, 0, 0.2));
  margin: 10px;
  flex: 1;

  &-header {
    background-color: $dashboard-form-header-bg;
    color: $dashboard-text-color-white;
    padding: 10px;
  }

  &-body {
    background-color: $dashboard-text-color-white;
    padding: 10px;
  }

  &-buttons {
    background-color: $dashboard-form-buttons-bg;
    padding: 10px;
  }
}