$dashboard-form-header-background-color: $dashboard-base-panel-header-background-color;
$dashboard-form-body-background-color: $dashboard-base-light-color;
$dashboard-form-buttons-background-color: $dashboard-base-panel-toolbar-background-color;

$dashboard-form-header-text-color: $dashboard-base-text-light-color;

.dashboard-form {
  @include box-shadow(0, 1px, 2px, 0, rgba(0, 0, 0, 0.2));
  width: calc(50% - 20px);
  margin: 10px;
  float: left;

  @include respond-to(mobile) {
    width: calc(100% - 20px);
  }

  &-header {
    background-color: $dashboard-form-header-background-color;
    color: $dashboard-form-header-text-color;
    padding: 10px;
  }

  &-body {
    background-color: $dashboard-form-body-background-color;
    padding: 10px;
  }

  &-buttons {
    background-color: $dashboard-form-buttons-background-color;
    padding: 10px;
  }
}